@import "tailwindcss";

@theme {
    --color-background: var(--color-zinc-950);
    --color-foreground: var(--color-zinc-50);
    --color-primary-50: var(--color-violet-50);
    --color-primary-100: var(--color-violet-100);
    --color-primary-200: var(--color-violet-200);
    --color-primary-300: var(--color-violet-300);
    --color-primary-400: var(--color-violet-400);
    --color-primary-500: var(--color-violet-500);
    --color-primary-600: var(--color-violet-600);
    --color-primary-700: var(--color-violet-700);
    --color-primary-800: var(--color-violet-800);
    --color-primary-900: var(--color-violet-900);
    --color-primary-950: var(--color-violet-950);
}

@layer base {
    :root {
        color-scheme: dark;
    }

    body {
        background-color: var(--color-zinc-950);
        color: var(--color-zinc-50);
        @apply antialiased min-h-screen text-zinc-50;
    }
}